{% extends "base.html" %}
{% block title %} Login{% endblock  %}

{% block content %}
<h1> Menu Login</h1>
<form method="POST" action="{{url_for('login')}}" 
    class="was-validated">{{form.hidden_tag()}} 
    <div class="col-sm-4">
        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control")}}
        <div class="invalid-feedback">
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-4">
        {{form.password.label(class="form-label")}}
        {{form.password(class="form-control")}}
        <div class="invalid-feedback">
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-4">
        {{ form.submit(class="btn btn-primary")}}
    </div>
</form>

{% endblock  %}